body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.btn{
    background-color: pink;
    padding: 20px 60px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    color: black;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.btn span{
    position: relative;
    z-index: 10000;
}

.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    width: 0px;
    height: 0px;
    left: var(--xPos);
    top: var(--yPos);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    transition: width .5s ,height 0.5s;
    /* transition: all .5s ; */
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}